.Card{
    width: 100%;
    padding: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color .2s;
    border: 1px solid rgb(178, 237, 255);
    background-color: rgb(219, 237, 255);
    border-radius: 9px;
    position: relative;

}
.Card:hover{
    background-color: rgb(233, 244, 255);
}
.Card h4{
    word-wrap: break-word;
    margin-right: 50px;
    border: 2px solid transparent;

}
.Card h4.editable {
    background-color: #fff;
    border: 2px solid #262626;
}

.Card .actions{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 6px;
    gap: 3px;
}
.Card:hover .actions{
    display: flex;
}

.Card .actions button{
    width: 22px;
    height: 22px;
    padding: 4px;
    border: none;
    background-color: white;
    margin: 0;
    border-radius:50%;

}
.Card .actions button:hover{
    background-color: rgb(178, 237, 255);  
}
.Card .actions img{
    width: 100%;
}

p{
    width: 100%;
    word-wrap: break-word;
    border: 2px solid transparent;
}
p.date{
    text-align: right;
    font-size: 13px;
    color: rgb(73, 73, 73);
    padding-bottom: 0;
    margin: 0;
}
.editable {
    background-color: #fff;
    border: 2px solid #262626;
    cursor: text;
}
